NEXT_PUBLIC_REDIS_LAB_URL=http://localhost:8081
NEXT_PUBLIC_RATE_LIMITER_URL=http://localhost:8082
NEXT_PUBLIC_LOAD_BALANCER_URL=http://localhost:8083

# GitHub OAuth App credentials (see README for setup steps)
GITHUB_ID=
GITHUB_SECRET=

# Generate with: openssl rand -base64 32
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
